body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #4CAF50;
}

#heading {
    color: white;
    text-align: center;
    font-family: arial;
    display: flex-row;
    justify-content: center;
    margin: auto;
    padding: auto;
    text-shadow: 2px 2px black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    background-color: white;
}

form {
    font-family: arial;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid green;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 5px #4CAF50;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input, select:hover {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-box {
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 20px;
    border: 3px solid green;
    border-radius: 8px;
    margin-top: 20px
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px #4CAF50;
}

#result-box > h1 {
    text-align: left;
}

@media screen and (max-width: 768px) {
    form, #result-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
